<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Antivirus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Antivirus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Antivirus.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Activation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Expiration" serializeAs="String">
                <value/>
            </setting>
            <setting name="Email" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>#FF00B300</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>Secure</value>
            </setting>
            <setting name="Totalssues" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatusColor" serializeAs="String">
                <value>#FF308A0F</value>
            </setting>
            <setting name="Img" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FancyPop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="updateDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="SubType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="ScanTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="TimeElapsed" serializeAs="String">
                <value/>
            </setting>
            <setting name="TotScanHome" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>yes</value>
            </setting>
            <setting name="TotalScanned" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScanRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="antifishing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="randsome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="atrisk" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="expSub" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="updateVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="winUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateavail" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="scantile" serializeAs="String">
                <value>True</value>
            </setting>
        </Antivirus.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Antivirus.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </Antivirus.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
       
        <services>
          
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
